<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kkcloud.trainee.system.mapper.HeaderPermissionMapper">
    <resultMap id="ResultMap" type="com.kkcloud.trainee.system.model.PermissionHeader">
        <result column="header_title" property="headerTitle"/>
    </resultMap>
    <select id="findById" resultMap="ResultMap">
        select distinct tbl_header.header_title as header_title
        from tbl_role_permission
                 inner join tbl_header_detail on tbl_role_permission.header_detail_id = tbl_header_detail.header_detail_id
                 inner join tbl_header on tbl_header_detail.header_id = tbl_header.header_id
        where tbl_role_permission.role_id = #{roleId}
    </select>

</mapper>
